<!-- ============================================
; Title:  index.js
; Author: Professor Krasso
; Date:   05 February 2023
; Description: Pets-R-Us dog grooming app
;=========================================== -->


<footer>
    <div class="footer-container">
        <div class="footer-copyrigte">
            <div class="foot-left">
                <p>Deveoped by Yakut Ahmedin</p>
                <p>
                    &copy;
                    <script>document.write(new Date().getFullYear())</script> - <a href="#" target="_blank"
                        class="foot-link">Yamhub</a>
                </p>
            </div>
            <div class="foot-right">
                <div></div>
                <a href="#htmlbody"><button><i class="fa fa-arrow-up"></i></button></a>
            </div>
        </div>
    </div>
</footer>