<!-- ============================================
; Title:  index.js
; Author: Professor Krasso
; Date:   05 February 2023
; Description: Pets-R-Us dog grooming app
;=========================================== -->

<header class="header">
    <!-- Top notice bar -->
    <div class="top-notice">
        <div class="top-notice-container">
            <div class="top-notice-left">
                <label>
                    <i class="fa fa-clock"></i>
                    <p>Monday - Sunday</p>
                </label>
                <label>
                    <i class="fa fa-location-arrow"></i>
                    <p> 123 Stright St., Baltimore MD
                    </p>
                </label>
            </div>
            <div class="top-notice-right">
                <ul>
                    <p>Visit our socials.</p>
                    <li><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
                    </li>
                    <li><a href="https://www.twitter.com/"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://youtube.com/" target="_blank"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <!-- main navbar -->
    <nav id="navbar">
        <div class="nav-container">
            <div class="nav-logo">
                <h2>Pets-R-Us</h2>
            </div>
            <div class="nav-list-item">
                <ul>
                    <li><a href="/" >Service</a>
                    </li>
                    <li><a href="grooming">Grooming</a>
                    </li>
                    <li><a href="boarding">Boarding</a>
                    </li>
                    <li><a href="training">Traning </a>
                    </li>
                    <li><a href="register">Register </a>
                    </li>
                    <li><button href="./hobby.html" class="call-btn"><i class="fa fa-phone"></i><span>Call
                                Us</span></button></li>
                </ul>
            </div>
        </div>
    </nav>
</header>