<!-- ============================================
; Title:  index.js
; Author: Professor Krasso
; Date:   05 February 2023
; Description: Pets-R-Us dog grooming app
;=========================================== -->

<head>
    <meta charset="UTF-8">
    <title>
        <%= title %>
    </title>

    <link rel="stylesheet" href="/styles/site.css">

    <!-- Google fonts for Oswald -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/7e85f88570.js" crossorigin="anonymous"></script>

</head>

<div class="landing" id="register">
    <%- include('./partials/_header.ejs') %>

        <main class="wrapper" id="traning">
            <section class="section-form">
                <h1>Register</h1>
                <p>
                    customer information for a pet grooming service:.<br>
                </p>

                <form name="signup" class="form" >
                    <!-- name -->
                    <div class="form-group">

                        <label for="name" class="form-label form-label--required">
                            Name:
                        </label>

                        <div class="form-addon" data-states-for="name">
                            <div class="form-addon__addon">
                                <span class="icon-name"></span>
                            </div>

                            <input type="text" id="name" name="name" class="form-input" placeholder="Andrew" required>

                            <span class="form-addon__icon icon-valid"></span>
                            <span class="form-addon__icon icon-invalid"></span>
                        </div>

                        <div data-errors-for="name">
                            <small class="form-error" data-errors-when="valueMissing">
                                This field is required.
                            </small>
                        </div>
                    </div>

                    <!--  id -->
                    <div class="form-group">
                        <label for="phone" class="form-label">
                            Customer Id:
                        </label>

                        <div class="form-addon" data-states-for="phone">
                            <div class="form-addon__addon">
                                <span class="icon-phone"></span>
                            </div>

                            <input type="number" id="phone" name="phone" class="form-input" placeholder="123456"
                                pattern="[0-9]" />

                            <span class="form-addon__icon icon-valid"></span>
                            <span class="form-addon__icon icon-invalid"></span>
                        </div>

                        <div data-errors-for="phone">
                            <small class="form-error" data-errors-when="patternMismatch">
                                Please enter a valid Id number.
                            </small>
                        </div>
                    </div>

                    <!-- email -->
                    <div class="form-group">
                        <label for="email" class="form-label form-label--required">
                            Email:
                        </label>

                        <div class="form-addon" data-states-for="email">
                            <div class="form-addon__addon">
                                <span class="icon-email"></span>
                            </div>

                            <input type="email" id="email" name="email" class="form-input" placeholder="jon@email.com"
                                required>

                            <span class="form-addon__icon icon-valid"></span>
                            <span class="form-addon__icon icon-invalid"></span>
                        </div>

                        <div data-errors-for="email">
                            <small class="form-error" data-errors-when="valueMissing">
                                This field is required.
                            </small>

                            <small class="form-error" data-errors-when="typeMismatch">
                                Please enter a valid email address.
                            </small>
                        </div>
                    </div>

                    <!-- phone -->
                    <div class="form-group">
                        <label for="phone" class="form-label">
                            Phone number:
                        </label>

                        <div class="form-addon" data-states-for="phone">
                            <div class="form-addon__addon">
                                <span class="icon-phone"></span>
                            </div>

                            <input type="text" id="phone" name="phone" class="form-input" placeholder="123 456 789"
                                pattern="[0-9]{3} [0-9]{3} [0-9]{3}">

                            <span class="form-addon__icon icon-valid"></span>
                            <span class="form-addon__icon icon-invalid"></span>
                        </div>

                        <div data-errors-for="phone">
                            <small class="form-error" data-errors-when="patternMismatch">
                                Please enter a valid phone number.
                            </small>
                        </div>
                    </div>


                    <!-- address -->
                    <div class="form-group">
                        <label for="address" class="form-label form-label--required">
                            Address
                        </label>
                        <div class="form-addon " id="address-form" data-states-for="address">
                            <div class="form-addon__addon">
                                <span class="icon-address"></span>
                            </div>
                            <input type="street" class="form-control" id="autocomplete" placeholder="Street">

                            <input type="city" class="form-control" id="inputCity" placeholder="City">

                            <input type="state" class="form-control" id="inputState" placeholder="State">

                            <input type="zip" class="form-control" id="inputZip" placeholder="Zip">
                        </div>
                        <div data-errors-for="address">
                            <small class="form-error" data-errors-when="valueMissing">
                                This field is required.
                            </small>
                        </div>

                    </div>



                    <!-- Pets -->
                    <div class="form-group" id="pet-form">
                        <div class="form-addon__addon">
                            <span class="icon-email"></span>
                        </div>
                        <label for="pet" class="form-label">
                            Pet Information:
                        </label>
                        <input type="name" 
                               class="form-control" 
                               id="autocomplete" 
                               placeholder="name">
                        
                        <input type="breed" 
                               class="form-control" 
                               id="inputCity" 
                               placeholder="breed">
                        
                        <input type="age" 
                               class="form-control" 
                               id="inputState" 
                               placeholder="age">
                        
                        <input type="lastVisit" 
                               class="form-control" 
                               id="inputZip" 
                               placeholder="lastVisit">
                        
                        <input type="discription" 
                               class="form-control" 
                               id="inputCountry" 
                               placeholder="discription">
                      </div>

                    <div class="form-footer">
                        <a href="http://programminghead.com" >
                        <button  class="button" >Sign up</button></a>
                    </div>
                </form>
            </section>
        </main>


        <%- include('./partials/_footer.ejs') %>
</div>