<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%= title %>
    </title>

    <link rel="stylesheet" href="/styles/site.css">

    <!-- Google fonts for Oswald -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/7e85f88570.js" crossorigin="anonymous"></script>
</head>

<body>

    <div class="grooming" id="grooming">
        <header class="header">
            <!-- Top notice bar -->
            <div class="top-notice">
                <div class="top-notice-container">
                    <div class="top-notice-left">
                        <label>
                            <i class="fa fa-clock"></i>
                            <p>Monday - Sunday</p>
                        </label>
                        <label>
                            <i class="fa fa-location-arrow"></i>
                            <p> 123 Stright St., Baltimore MD
                            </p>
                        </label>
                    </div>
                    <div class="top-notice-right">
                        <ul>
                            <p>Visit our socials.</p>
                            <li><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
                            </li>
                            <li><a href="https://www.twitter.com/"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://youtube.com/" target="_blank"><i class="fa fa-youtube"></i></a></li>
                            <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

            <!-- main navbar -->
            <nav id="navbar">
                <div class="nav-container">
                    <div class="nav-logo">
                        <h2>Pets-R-Us</h2>
                    </div>
                    <div class="nav-list-item">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="grooming" class="current-page">Grooming</a></li>
                            <li>
                            <li><button href="./grooming.html" class="call-btn"><i class="fa fa-phone"></i><span>Call
                                        Us</span></button>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>





        <main>
            <div class="main-container">
                <div class="grooming-item-img">
                    <img src='../images/dog_7.png' alt='' id="grooming-img">
                </div>
                <div class="grooming-item-txt">
                    <div>

                        <ul>
                            <li>Here is a list of dog grooming services you can include on your website:</li>
                            <hr>
                            <li> Basic Grooming: A comprehensive grooming service that includes bathing, brushing, and
                                hair trimming.</li>
                            <hr>
                            <li>Fur Trimming: A service that focuses on trimming and shaping your dog's fur to enhance
                                its appearance.</li>
                            <hr>
                            <li>Nail Trimming: A service that involves cutting and filing your dog's nails to keep them
                                at a healthy length.</li>
                            <hr>
                            <li>Ear Cleaning: A service that involves cleaning your dog's ears to prevent infections and
                                other ear problems.</li>
                            <hr>
                            <li>Teeth Brushing: A service that helps maintain your dog's dental hygiene by cleaning its
                                teeth and removing plaque.</li>
                            <hr>
                            <li>De-shedding: A service that helps reduce excessive shedding by removing loose fur from
                                your dog's coat.</li>
                            <hr>
                            Spa Packages: A customizable package of grooming services that includes a combination of the
                            above services, plus pampering treatments like massages and aromatherapy.
                            <hr>
                            <li>Each of these services can be further described in detail on your website to help
                                customers understand the benefits and what they can expect during each appointment.</li>
                            <hr>
                        </ul>
                    </div>
                </div>
            </div>

        </main>

        <footer>
            <div class="footer-container">
                <div class="footer-copyrigte">
                    <div class="foot-left">
                        <p>Deveoped by Yakut Ahmedin</p>
                        <p>
                            &copy;
                            <script>document.write(new Date().getFullYear())</script> - <a
                                href="https://yamhub.netlify.app/" target="_blank" class="foot-link">Yamhub</a>
                        </p>

                    </div>
                    <div class="foot-right">
                        <div></div>
                        <a href="#grooming"><button><i class="fa fa-arrow-up"></i></button></a>
                    </div>
                </div>
            </div>
        </footer>

    </div>

</body>

</html>