<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%= title %>
    </title>

    <link rel="stylesheet" href="/styles/site.css">

    <!-- Google fonts for Oswald -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7e85f88570.js" crossorigin="anonymous"></script>

</head>

<body>
    <div class="landing" id="htmlbody">
        <header class="header">
            <!-- Top notice bar -->
            <div class="top-notice">
                <div class="top-notice-container">
                    <div class="top-notice-left">
                        <label>
                            <i class="fa fa-clock"></i>
                            <p>Monday - Sunday</p>
                        </label>
                        <label>
                            <i class="fa fa-location-arrow"></i>
                            <p> 123 Stright St., Baltimore MD
                            </p>
                        </label>
                    </div>
                    <div class="top-notice-right">
                        <ul>
                            <p>Visit our socials.</p>
                            <li><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
                            </li>
                            <li><a href="https://www.twitter.com/"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://youtube.com/" target="_blank"><i class="fa fa-youtube"></i></a></li>
                            <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <!-- main navbar -->
            <nav id="navbar">
                <div class="nav-container">
                    <div class="nav-logo">
                        <h2>Pets-R-Us</h2>
                    </div>
                    <div class="nav-list-item">
                        <ul>
                            <li><a href="/" class="current-page">Home</a></li>
                            <li><a href="grooming">Grooming</a></li>
                            <li>
                            <li><button href="./hobby.html" class="call-btn"><i class="fa fa-phone"></i><span>Call Us</span></button>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <main>
            <div class="main-container">
                <div class="main-page-text-container"></div>
                <div class="main-page-text">
                    <div class="IntroTxt" id="IntroTxt">
                        <div class="IntroName bolder" id="main-bold-text">
                            <h1>A pet-first <br /> approach to wellness</h1>
                        </div>
                        <h5 class="Into-Desc">Welcome to our dog grooming service! We offer professional and caring grooming services for your furry friend. From baths and haircuts to nail trims and ear cleaning, our experienced groomers will make sure your dog looks and feels their best. Schedule an appointment today and treat your furry companion to a spa day.<span>.</span>
                        </h5>
                        <div class="appointment-box">
                            <input  placeholder="Schedule here.." id="appointment-input"/>
                            <button class="projectBtn" href="">Schedule</button>
                        </div>
                        

                    </div>
                </div>
                <div class="main-page-image">

                </div>
            </div>

        </main>





        <div class="landing-feature-container">
            <h1 class="service-hader">-- Our Services --</h1>
            <ul class="card-wrapper">
                <li class="card">
                    <img src='../images/dog_3.png'
                        alt=''>
                    <h3><a href="">Basic Grooming</a></h3>
                    <p>A comprehensive grooming service that includes bathing, brushing, and hair trimming.</p>
                </li>
                <li class="card">
                    <img src='../images/dog_4.png' alt=''>
                    <h3><a href="">Fur Trimming</a></h3>
                    <p> A service that focuses on trimming and shaping your dog's fur to enhance its appearance.</p>
                </li>
                <li class="card">
                    <img src='../images/dog_5.png' alt=''>
                    <h3><a href=""> Nail Trimming:</a></h3>
                    <p>A service that involves cutting and filing your dog's nails to keep them at a healthy length.</p>
                </li>
                <li class="card">
                    <img src='../images/dog_7.png' alt=''>
                    <h3><a href="">Ear Cleaning:</a></h3>
                    <p>A service that involves cleaning your dog's ears to prevent infections and other ear problems.</p>
                </li>
                <li class="card">
                    <img src='../images/dog_4.png' alt=''>
                    <h3><a href="">Teeth Brushing</a></h3>
                    <p> A service that helps maintain your dog's dental hygiene by cleaning its teeth and removing plaque.</p>
                </li>
                <li class="card">
                    <img src='../images/dog_6.png' alt=''>
                    <h3><a href="">Spa Packages</a></h3>
                    <p>A customizable package of grooming services that includes a combination of the above services, plus pampering treatments like massages and aromatherapy.</p>
                </li>
            </ul>
        </div>


        <footer>
            <div class="footer-container">
                <div class="footer-copyrigte">
                    <div class="foot-left">
                        <p>Deveoped by Yakut Ahmedin</p>
                        <p>
                            &copy;
                            <script>document.write(new Date().getFullYear())</script> - <a
                                href="https://yamhub.netlify.app/" target="_blank" class="foot-link">Yamhub</a>
                        </p>
                    </div>
                    <div class="foot-right">
                        <div></div>
                        <a href="#htmlbody"><button><i class="fa fa-arrow-up"></i></button></a>
                    </div>
                </div>
            </div>
        </footer>
    </div>


</body>

</html>











<!-- <header class="header">
    <nav id="navbar">
        <div class="nav-container">
            <div class="nav-logo">
                <img src="./images/logo.png" />
            </div>
            <div class="nav-list-item">
                <ul>
                    <li><a href="./index.html" class="current-page">Home</a></li>
                    <li><a href="./about.html">About</a></li>
                    <li><a href="./hobby.html">Hobby</a>
                    <li>
                    <li><button href="./hobby.html" class="call-btn"><i class="fa fa-phone"></i><span>Gimme Call</span></button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<section class="navbar">
    <a href="/">Home</a>
    <a href="/grooming">Grooming</a>
</section>

 <section class="container">
    <h1 class="center-text">Welcome to the Pets-R-Us store Landing Page!</h1>
    <div class="card center-div">
        <div class="card-title">Pets-R-Us! </div>

        <div class="card-content">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel pellentesque sem, 
                sit amet iaculis turpis. Nunc venenatis, quam eget pulvinar ornare, risus magna dapibus enim, 
                vitae varius tortor nibh nec urna. Phasellus vel ipsum lorem. In risus nisi, auctor id malesuada vitae, 
                egestas volutpat nulla. Quisque id erat tempus, posuere felis maximus, mattis nunc. Mauris orci leo, 
                laoreet a quam vitae, malesuada condimentum turpis. Nulla a tellus tortor. Etiam sit amet ipsum mauris. 
                Vestibulum nulla velit, pharetra at tellus sed, tristique auctor odio. Fusce ornare felis quis dolor mattis, 
                ac mollis velit porta. Integer quis faucibus orci. Morbi maximus neque non rutrum semper. 
                Aenean vehicula lectus pharetra rutrum vulputate. In tincidunt ex ornare, scelerisque lorem in, 
                suscipit mi. Morbi viverra tortor id libero posuere, eu mattis leo interdum. Pellentesque porttitor 
                sed mi iaculis maximus.
            </p>
        </div>
    </div>

    <br /><br /><br />
    <div class="card center-div">
        <div class="card-title">Pets-R-Us Months!</div>

        <div class="card-content">
            <br />
            <table class="table" style="width: 100%;">
                <tr>
                    <td>  <img src="./images/fms-about.jpg" height="150" width="250" /></td>
                    <td>  <img src="./images/fms-about.jpg" height="150" width="250" /></td>
                    <td>  <img src="./images/fms-about.jpg" height="150" width="250" /></td>
                </tr>
            </table>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel pellentesque sem, 
                sit amet iaculis turpis. Nunc venenatis, quam eget pulvinar ornare, risus magna dapibus enim, 
                vitae varius tortor nibh nec urna. Phasellus vel ipsum lorem. In risus nisi, auctor id malesuada vitae, 
                egestas volutpat nulla. Quisque id erat tempus, posuere felis maximus, mattis nunc. Mauris orci leo, 
                laoreet a quam vitae, malesuada condimentum turpis. Nulla a tellus tortor. Etiam sit amet ipsum mauris. 
                Vestibulum nulla velit, pharetra at tellus sed, tristique auctor odio. Fusce ornare felis quis dolor mattis, 
                ac mollis velit porta. Integer quis faucibus orci. Morbi maximus neque non rutrum semper. 
                Aenean vehicula lectus pharetra rutrum vulputate. In tincidunt ex ornare, scelerisque lorem in, 
                suscipit mi. Morbi viverra tortor id libero posuere, eu mattis leo interdum. Pellentesque porttitor 
                sed mi iaculis maximus.
            </p>
        </div>
    </div>
<section>

<footer>
    <p>
        &copy; <script>document.write(new Date().getFullYear())</script> - <a href="https://www.bellevue.edu/">Bellevue University</a>
    </p>

</footer> -->